<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true"
      requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <add name="SicConnectionString" connectionString="Server=10.1.232.230; User ID=sa;Password=ssecure; Database=SIPS; Integrated Security=False;"/>
    <add name="SSOMembershipProviderConnectionString" connectionString="Data Source=10.1.232.230;User ID=sa;Password=ssecure; Initial Catalog=SSO; Trusted_Connection=False;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <SubSonicService defaultProvider="sicProvider" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="sicProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="SicConnectionString" generatedNamespace="DalRis"
        generateLazyLoads="true" includeTableList="Sys_*|RIS_*" includeSpsList="RIS_*" includeViewList="Sys_*"/>
    </providers>
  </SubSonicService>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>

    <sessionState timeout="540" mode="Custom" customProvider="SSOSessionProvider">
      <providers>
        <add name="SSOSessionProvider" type="Salud.Security.SSO.SSOSessionStateStore"/>
      </providers>
    </sessionState>
    <membership defaultProvider="SSOMembershipProvider">
      <providers>
        <add name="SSOMembershipProvider" type="Salud.Security.SSO.SSOMembershipProvider" connectionStringName="SSOMembershipProviderConnectionString"
          alwaysAuthenticate="false" allowAnonymousAccessToImages="true" allowAnonymousAccessToScripts="true" updateTimeoutOnWebMethod="false" useCache="true"
          cookieName="SSO_AUTH_COOKIE_SSS"/>
      </providers>
    </membership>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
      <add name="SSOHttpModule" type="Salud.Security.SSO.SSOHttpModule"/>
    </modules>
  </system.webServer>
</configuration>