<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <add name="SicConnectionString" connectionString="Server=10.1.232.230; Database=SIPS;User ID=sa;Password=ssecure;"/>
  </connectionStrings>
  <SubSonicService defaultProvider="sicProvider" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="sicProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="SicConnectionString" generatedNamespace="DalRis" includeTableList="Sys_*|RIS_*" includeProcedureList="RIS_*" includeViewList="SYS_*" generateLazyLoads="true" generateRelatedTablesAsProperties="true"/>
    </providers>
  </SubSonicService>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
